/***  variables ****/

/**** fonts ******/
$body_font: Comic Sans MS, Comic Sans, cursive;

/**** colors ******/
$gray_background: rgb(128,128,128);
$white_background: rgb(255, 255, 255);
$head_background_light: rgba(84, 84, 84, 0.54);
$icon_crown_color: rgb(230, 201, 14);
$icon_profile_color: rgba(7, 98, 150, 0.74);

html {
  scroll-behavior: smooth;
}
.sec{
  // margin-left: auto;
  // margin-right: auto;
  overflow: hidden;
}

html,body
{
    width: 100%;
    height: 100%;
    // margin: 10px;
    // padding: 10px;
    // overflow-x: hidden;
}

/************    header  ****************/
h1{
font-family: 'Lacquer', sans-serif;
}
nav {
    background-color: rgba(26, 18, 4, 0.94);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    @media only screen and (min-width: 1900px) {
      font-size: 2em;

    }

}
nav a{
  float:right;
  display: block;
  color:rgba(253, 233, 231, 0.94);
  padding: 14px 30px;
  text-decoration: none;
  // font-size: 100%;
}

nav a:hover{
  background-color:rgba(148, 21, 9, 0.94);
}

.active{
  background-color:rgba(148, 21, 9, 0.94);
}


.vidContainer{
  width:100%;
  height: 450px;

  // display: inline-block;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  @media only screen and (min-width: 1900px) {
    height: 850px;
  object-fit: cover;
  }

}
video{
  @media only screen and (min-width: 1900px) {
      height: 850px;
  }

}
.vid{
  top: 0;
  left: 0;
  width: 100%;
   height: 100%;
  z-index: -1;
  position: absolute;
  opacity: 0.7;
  // @media only screen and (min-width: 1900px) {
  //   height: 850px;
  // object-fit: cover;
  // }

}
.vidContent{
  // position: absolute;
  // padding-left: 5%;
  // padding-right: 5%;
  // margin-left: auto;
  // margin-right: auto;
  font-size: 40px;
  font-weight: bolder;
  color:black;
  background-color: $head_background_light;
}


/************ Introduction section  ****************/
.introduction{
  background-color: $white_background;
  display: flex;
  line-height: 250%;//percentage of current font-size
  font-family: $body_font;
  @media only screen and (min-width: 300px) {
    width: 100%;
  // overflow: auto;
    flex-direction: column;

  }
  @media only screen and (min-width: 1000px) {
    width: 100%;
  // overflow: auto;
    flex-direction: row;

  }

  @media only screen and (min-width: 1900px) {
    width: 100%;
  // overflow: auto;
    flex-direction: row;

  }
}
.introbox{

  // position: relative;
  // flex:40%;
  display: block;
  margin:5% 3%;
  text-align: center;
  .profile{
    text-align: left;
  }
  i{
    font-size:500%;
    }
  .fa-crown{
  color: $icon_crown_color;
    }
  .fa-address-card{
    color: $icon_profile_color;
    }

  dl{
    /* width: 100%; */
    overflow: hidden;
  }
  dt{
    float: left;
    width: 70%;
    padding: 0;
    margin: 0;
    font-family: Courier New, monospace;
  }
  dd{
    float: left;
    width: 30%;
    padding: 0;
    margin: 0
  }

  p{
    text-align: center;
  }
  @media only screen and (min-width: 1900px) {
    font-size: 1.5em;

  }

}


/************ Modal box section  ****************/
.modal{
  background-image: url("https://images.pexels.com/photos/474397/elephant-tusks-africa-wildlife-474397.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 550px;
  background-size: cover;
  h2{
      // position:absolute;
      text-align: center;
      width:20%;
      padding: 1%;
      font-size: 2em;
      margin-left: auto;
      margin-right: auto;
      background-color: rgba(255, 255, 255, 0.88);
    }
    @media only screen and (min-width: 1900px) {
      height: 750px;
      h2{
      font-size: 2em;
}

    }


}
.modboxContainer{
  height: 75%;
  margin: 2%;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-around;
  @media only screen and (min-width: 1900px) {
    font-size: 1.5em;

  }

}

.modbox{
  margin: 1%;
  width: 20%;
  // height: 250px;
  background-color: $white_background;
  opacity: 0.9;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

}

.back{
  display: none;//hidden by default
  position: fixed;
 z-index: 10;
  top: 15%;
  // left: 50%;

width: 30%;
height: 60%;
 overflow: auto;
background-color:rgb(173, 173, 173);
justify-content: space-between;
// color: $white_background;
font-size: larger;
line-height: 200%;
font-family: Chalkduster, fantasy;


//add animation to modbox
  animation-name: modal-animation;
  animation-duration: 1s;

}



.close {
  // color: #aaaaaa;
  float: right;
  font-size:200%;
  font-weight: bold;
}
.close:hover{
  cursor: pointer;
}

.fact{
margin: auto;
}

.front{
  font-size: larger;
// font-family: Bradley Hand, cursive;
font-family: Marker Felt, fantasy;
}


/************ Photo slider section  ****************/
.photo-slider{
  width: 100%;
  height: auto;

  overflow: hidden;
  position: relative;
  @media only screen and (min-width: 1900px) {
    height: 850px;
}

}
.images{
  display: none;
  height: 500px;
  // object-fit: cover;
}

.images img{
  width: 100%;
  margin-top: -20%;
  // object-fit: fill;

}

.prev, .next{
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 3%;
  /* margin-top: -50px; */
  color: $gray_background;
  font-weight: bold;
  font-size: 20px;
  // border-radius: 0 3px 3px 0;
  background-color: rgba(238, 236, 236, 0.86);
  // z-index: 50;
}

.prev:hover, .next:hover{
  background-color: white;
}

.next {
  right: 0;
  // border-radius: 3px 0 0 3px;
}


/************ footer section  ****************/
footer{
  background-color: $gray_background;
  color: $white_background;
  height: 15%;
  @media only screen and (min-width: 1900px) {
font-size: 1.5em;

  }
}
footer>div{
  display: flex;
  // white-space: nowrap;
  justify-content: space-around;
}

footer a{
  // text-decoration: none;
  color: $white_background;

}
footer>div>p{
  // display: flex;

}






/************ all the animations  ****************/
@keyframes modal-animation{
  from{
    left: 0;
    background-color:rgba(102, 102, 102, 0.25);
  }
  to{
    left: 35%;
    background-color: rgb(173, 173, 173);
  }
}
